*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle/
projectFilesBackup/
projectFilesBackup1/
projectFilesBackup2/
projectFilesBackup3/
.idea
